@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.container{
    text-align: center;
}

*{
    font-family: 'Inconsolata', monospace;
}
.about-text{
    font-size: larger;
    text-align: left;
    padding: 100px;
}